<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>iVOD</display-name>
   <servlet>
    <servlet-name>IvodServlet</servlet-name>
    <servlet-class>com.ivod.controller.IvodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IvodServlet</servlet-name>
    <url-pattern>/addSeries</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SerialIdValidator</servlet-name>
    <servlet-class>com.ivod.controller.SerialIdValidator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerialIdValidator</servlet-name>
    <url-pattern>/valSerialId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeachController</servlet-name>
    <servlet-class>com.ivod.controller.SeachController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeachController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMarket</servlet-name>
    <servlet-class>com.ivod.controller.AddMarket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMarket</servlet-name>
    <url-pattern>/AddMarket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAccount</servlet-name>
    <servlet-class>com.ivod.controller.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccount</servlet-name>
    <url-pattern>/AddAccount</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AddMarket</servlet-name>
    <url-pattern>/editMarket</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>